body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	background-color: #FFF;
	width: 500px;
	margin-left:auto;
	margin-right:auto;
}
header, footer, section, article {
	border-radius: 5px;
	border: 1px solid grey;
	margin: 5px;
	margin-bottom: 15px;
	padding: 8px;
	background-color: white;
}
header, footer {
	color: white;
	background-color: rgb(51,102,255);
	margin-bottom: 5px;
	border: 1px solid black;
}
section {
	background-color: #fff;
	border: 0;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline;
	margin: 5px;
}

