<!DOCTYPE html>

<html ng-app="view">
	<head>
		<title>Cadastro de Prestador</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="style/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="style/bootstrap.min.css">
		<link rel="stylesheet" href="style/datepicker.css">
		<link rel="stylesheet" href="style/style.css">
	</head>
		<body ng-controller="viewController">
		<!-- BARRA DO TOPO DO SITE -->
		<div class="top-bar">
			<div class="col-md-1 col-xs-3 bar-icon">
				<i class="fa fa-navicon clickable" id="menuButtonOpen"></i>
			</div>
			<div class="col-md-10 col-xs-6 bar-title">
				EasyService
			</div>
			<div class="col-md-1 col-xs-3 bar-icon">
				<i class="fa fa-sign-in clickable"></i>
			</div>
		</div>
		<!-- BARRA DO TOPO DO SITE -->

		<!-- MENU VERTICAL ESQUERDO -->
		<div class="menu" id="menu">
			<div class="menu-option" id="inicio">
				<i class="fa fa-home icon"></i>Inicio
			</div>

			<div class="menu-option" id="dropdown-signin-button">
				<i class="fa fa-user-plus icon"></i>Cadastrar</i>
			</div>
			<div class="dropdown" id="dropdown-signin">
				<div class="dropdown-option" id="cadastrar_cliente">
					<i class="fa fa-child icon"></i> Cliente
				</div>
				<div class="dropdown-option" id="cadastrar_prestador">
					<i class="fa fa-paint-brush icon"></i>Prestador
				</div>
			</div>

			<div class="menu-option" id="sobre">
				<i class="fa fa-info-circle icon"></i>Sobre
			</div>
		</div>
		<!-- MENU VERTICAL ESQUERDO -->

		<!-- CONTEUDO -->
		<form method="POST" action="validate" id="form">
		<div class="card">
			<div class="card-head">
				Cadastro de Prestador
			</div>
			<div class="card-body">
				<ul class="nav nav-tabs">
					<li role="presentation" ng-class="account_class" ng-click="active('account')"><a class="clickable">Conta</a></li>
					<li role="presentation" ng-class="professional_class" ng-click="active('professional')"><a class="clickable">Profissional</a></li>
					<li role="presentation" ng-class="personal_class" ng-click="active('personal')"><a class="clickable">Pessoal</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane body" ng-class="account_class">
						<section>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Nome</label>
										<input type="text" class="form-control" placeholder="Informe seu nome" ng-model="user.name" name="name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Sobrenome</label>
										<input type="text" class="form-control" placeholder="Informe seu sobrenome" ng-model="user.surname" name="surname">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									<div class="form-group" ng-class="errorEmail">
										<label>E-mail</label>
										<input type="text" id="email" ng-blur="emailValidate(user)" class="form-control" placeholder="Informe um email valido" ng-model="user.email" name="email">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6" id="senha">
									<div class="form-group" ng-class="errorPass">
										<label>Senha</label>
										<input type="password" ng-blur="error(user)" class="form-control" id="input_senha" placeholder="Informe uma senha" ng-model="user.password" name="password">
									</div>
								</div>
								<div class="col-md-6" id="confirmar_senha">
									<div class="form-group" ng-class="errorPass">
										<label>Senha *</label>
										<input type="password" ng-blur="error(user)" class="form-control" id="input_confirmar_senha" placeholder="Informe novamente a senha" ng-model="user.password_conf" name="password_conf">
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="tab-pane body" ng-class="professional_class">
						<section>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Atuação (separando por virgulas)</label>
										<input type="text" class="form-control" placeholder="Informe areas de atuação" ng-model="user.profession" name="profession">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Preço/hora</label>
										<input type="text" placeholder="R$ 0 000,00" id="value" class="form-control" ng-model="user.value" name="value">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<div class="form-group fix_phone_error">
										<label>Telefone Fixo</label>
										<input type="text" placeholder="(xxx) xxxx-xxxx" class="form-control" id="fix_phone" ng-model="user.fix_phone" name="fix_phone">
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group mobile_phone_error">
										<label>Telefone Móvel</label>
										<input type="text" placeholder="(xxx) x xxxx-xxxx" class="form-control" id="mobile_phone" ng-model="user.mobile_phone" name="mobile_phone">
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="tab-pane body" ng-class="personal_class">
						<section>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>Data de Nascimento</label>
										<div class="input-group">
											<input type="text" id="datePickerValue" class="form-control" placeholder="Utilize o icone ao lado" ng-model="user.dob" disabled>
											<div class="input-group-addon addon-preferences clickable" id="showCalendar"><i class="fa fa-calendar"></i></div>
										</div>
										<input type="hidden" id="datePickerHideValue" name="dob">
										<div class="dob" id="dob"></div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<label>CPF</label>
										<input type="text" class="form-control" id="cpf" placeholder="XXX-XXX-XXX-XX" ng-model="user.cpf" name="cpf">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label>Endereço</label>
										<input type="text" placeholder="Informe seu endereço" class="form-control" ng-model="user.address" name="addres">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>CEP</label>
										<input type="text" class="form-control" placeholder="xxxxx-xxx" id="cep" ng-model="user.cep" name="postal_code">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Complemento</label>
										<input type="text" placeholder="Numero, Apt, Bloco.." class="form-control" ng-model="user.complement" name="addres_details">
									</div>
								</div>
							</div>
							<div class="row">
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-md-6">
						<div class="footer-options text-left">
							<a class="footer-button clickable" ng-click="save()">Salvar</a>
							<a class="footer-button clickable" ng-click="clear()">Cancelar</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="footer-options text-right">
							<a class="footer-button clickable" ng-click="back()" id="back">Voltar</a>
							<a class="footer-button clickable" ng-click="next()" id="next">Próximo</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>
		<!-- CONTEUDO -->
	</body>

	<!-- SCRIPTS -->
	<script src="style/jquery-2.1.4.min.js"></script>
	<script src="style/angular.min.js"></script>
	<script src="style/datepicker.js"></script>
	<script src="style/mask.js"></script>
	<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK3dIwcYIdrAvJKoJx8dJUt4fIUqvNcB0&callback=initMap"></script> -->
	<script src="style/script.js"></script>
	<!-- SCRIPTS -->
</html>